{% if not authors %}
    <h1>The author you're looking for isn't here.</h1>
{% endif %}

<h1>{{ authors.name }}</h1>
<p>{{ authors.bio }}</p>

{% if request.user.author == authors %}
    <span>
        this is what everyone sees when they look at your profile
        <br>
        but only you can see this message don't worry
        <br>
    </span>
    <br>
    <span>you have {{request.user.author.favorites.count}} <a href="/myfavorites/">favorites</a></span>

{% endif %}

    <ul>
    {% for recipe in recipes %}
        <li>
            <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
        </li>
    {% endfor %}
    </ul>

<span>go <a href="/">home</a></span>